build/
bin/
obj/
.cache
*.log
*.tmp
*.zip
.vscode/
log/
install/
docs/
third_party/
add_on/
__pycache__/
*.egg-info/
cert.pem
key.pem
certs/
recordings/
robots/ros2_robotiq_gripper/

*.STL
*.obj
*.usd
*.usda
*.usdc
*.usdz
.omx/
